:root{
    --white:#FFF;
    --orange: #fe9c2c;
    --text-grey: #1f1f1f;
    --text-light-grey: #545454;
    --dark: #000000;
    --dark-low: rgba(0, 0, 0, 0.65);
    --line-bg-color: #e5e5e5;
    --light-bg-color: #F9F9F9;;
}
*,::before,::after{
    box-sizing: border-box;
}
html{
    overflow-x: hidden !important;
    scroll-padding-top: 80px;
} 
body{
    overflow-x: hidden;
    max-width: 100%;
}
header{
    z-index: 1;
    transition: 300ms;
}
.hero{
    padding-top: 13em;
    position: relative;
    background-color: var(--dark-low);
}
.hero::before{
    content: '';
    background-image: url("images/Ike\'s-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
}
ul{
    list-style-type: none;
    padding-inline-start: 0;
}
.hero h1{
    font-weight: 700;
    font-size: 5em !important;
    @media (max-width:992px){
        font-size: 3em !important;
    }
}
.hero>div{
    padding-bottom: 3em;
}
.hero-text>:first-child{
    font-size: 2em !important;
    font-weight: 500;
}
.hero-text h3 span{
    color: var(--orange) !important;
}
.hero-text h3{
    font-size: 1.5em !important;
    font-weight: 700;
}
.hero-text>:last-child{
    font-weight: 500;
    max-width: 600px;
}
.img-container{
    width: 300px !important;
    /* margin-bottom: 1em; */
}
.img-container2{
    width: 200px;
}
.navbar-nav li{
    position: relative;
}
.navbar-nav li::after{
    content: '';
    background-color: var(--orange);
    width: 100%;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    bottom: 4px;
    transition: 400ms;
    margin-left: auto;
    margin-left: auto;
    transform: scaleX(0);
}
.navbar-nav li:hover::after{
    transform: scaleX(1);
}
.mynav-link.clicked::after{
    transform: scaleX(1);
}
.navbar-nav a{
    font-weight: 500;
}
.hamburger-button{
    width: 30px;
    aspect-ratio: 1/1;
    margin: 0 !important;
    gap: 4px;
}
.hamburger-button>*{
    width: 20px;
    height: 2px;
    background-color: var(--white);
    border-radius: 20px;
}
.hero-text>*{
    opacity: 0;
}
.hero-text>:nth-child(1){
    animation-fill-mode: forwards;
    animation-name: loadIn;
    animation-delay: 500ms;
    animation-duration: 700ms;
}
.hero-text>:nth-child(2){
    animation-fill-mode: forwards;
    animation-name: loadIn;
    animation-duration: 700ms;
    animation-delay: 700ms;
}
.hero-text>:nth-child(3){
    animation-fill-mode: forwards;
    animation-name: loadIn;
    animation-duration: 700ms;
    animation-delay: 900ms;
}
.hero-text>:nth-child(4){
    animation-fill-mode: forwards;
    animation-name: loadIn;
    animation-duration: 700ms;
    animation-delay: 1100ms;
}
.circleIcon-container{
    position: relative;
}
.circle-icon{
    width: 8px;
    aspect-ratio: 1/1;
    border: 1px solid var(--orange);
    position: absolute;
    background-color: #FFF;
}
.line{
    width: 130px;
    height: 3px;
    background-color: var(--line-bg-color);
}
.back2top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    transition: .4s ease-in-out;
}
.back2top.active{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
.back2top svg{
    transform: scale(0.7);
    fill: var(--white);
}
.back2top:hover{
    background-color: var(--orange);
}
.whitebg{
    background-color: hsla(0, 0%, 0%,0.8);
    backdrop-filter: blur(8px);
}
header.whitebg *{
    color: var(--light-bg-color) !important;
}
.services{
    background-color: var(--light-bg-color);
}
.services>.row>*{
    background-color: white !important;
}
.wrapper{
    max-width: 950px;
    border: 1px solid;
    overflow: hidden;
}
.myCarousel{
    display: flex;
    min-width: 100vw;
    padding: 2em;
    overflow: auto;
    border: 1px solid var(--bs-primary);
}
.myCarousel>*{
    width: 400px;
    border: 1px solid;
}
.column1,.column2,.column3{
    opacity: 0;
    border-top: 6px solid var(--line-bg-color) !important;
    transition: 400ms;
}
.column1{
    animation-duration: 700ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}
.column2{
    animation-duration: 700ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    border-top-color: var(--orange) !important;
}
.column3{
    animation-duration: 700ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
}
.column2 .headText{
    color: var(--orange);
}
.reveal>div{
    transition: 400ms;
}
.reveal>div:hover{
    border-left: 4px solid var(--orange);
    background-color: var(--line-bg-color);
}
.reveal>button{
    color: var(--orange);
    border: 1px solid var(--orange);
    font-size: 1.3em;
}
.reveal>:first-child{
    font-size: 2em;
}
.reveal>:nth-child(2){
    font-size: 1.2em;
}
.bigText{
    font-size: 3em;
    font-weight: 600;
}
.middleText{
    font-size: 1.3em;
}
.reveal:hover{
    border-top-color: var(--orange) !important;
}
.headText{
    letter-spacing: 3px;
}
.reveal:hover .headText{
    color: var(--orange);
}
.col .card>:first-child{
    overflow: hidden;
}
.col .card>:first-child>img{
    transition: 300ms;
}
.col .card >:first-child:hover > img{
    transform: scale(1.05);
}
@keyframes loadIn{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes reveal{
    from{
        transform: translateY(50%);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}